@page "/"
@using CarRental.Business.Classes
@using CarRental.Common.Interface
@inject CarRental.Business.Classes.BookingProc bp

<h1>Vehicles</h1>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>RegNr</th>
                <th>Brand</th>
                <th>Odometer</th>
                <th>CostKM</th>
                <th>Type</th>
                <th>costDay</th>
                <th>Action</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input placeholder="RegNr"/></td>
                <td><input placeholder="Brand" /></td>
                <td><input /></td>
                <td><input /></td>
                @* <td><select>
                    <option selected>
                        Type
                    </option>
                    @foreach (var vehicle in bp.GetVehicles())
                        {
                            <option @*bindValueHere>@vehicle.Type</option>
                        }
                </select></td> *@
                <td></td>
                <td><button>Add</button></td>
                <td></td>
            </tr>
            @foreach (var vehicle in bp.GetVehicles())
            {
                <tr>
                    <td><b>@vehicle.RegNr</b></td>
                    <td>@vehicle.Brand</td>
                    <td>@vehicle.Odometer</td>
                    <td>@vehicle.CostKM $ / km</td>
                    <td>@vehicle.Type</td>
                    <td>@vehicle.CostDay $</td>
                    @if ((int)vehicle.Status == 1)
                    {
                        <td class="table-danger"><b>@vehicle.Status</b></td>
                    }
                    else
                    {
                        <td class="table-success"><b>@vehicle.Status</b></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<h1>Bookings</h1>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>RegNr</th>
                <th>Customer</th>
                <th>Rented KM</th>
                <th>Rented Date</th>
                <th>Returned Date</th>
                <th>Days Rented</th>
                <th>Cost $</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in bp.GetBookings())
            {
                <tr>
                    <td><b>@booking.Vehicle.RegNr</b></td>
                    <td><i>@booking.Customer.sSD</i> @booking.Customer.firstName @booking.Customer.lastName</td>
                    <td>@booking.Vehicle.RentedKM</td>
                    <td>@String.Format($"{booking.Vehicle.Rented:d}")</td>
                    <td>@String.Format($"{booking.Returned:d}")</td>
                    @if (booking.Cost == null)
                    {
                        <td><i>Not returned</i></td>
                        <td>@booking.Cost</td>
                        <td class="table-danger"><b>Booked</b></td>
                    }
                    else
                    {
                        <td>@booking.DaysRented</td>
                        <td>@booking.Cost $</td>
                        <td class="table-success"><b>Returned</b></td>

                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<h1>Customer</h1>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>SSD</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in bp.GetCustomers())
            {
                <tr>
                    <td><i>@customer.sSD</i></td>
                    <td>@customer.firstName</td>
                    <td>@customer.lastName</td>

                </tr>
            }
        </tbody>
    </table>

</div>

